body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-image: url("/static/background_main.jpg?v=3");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
opacity: 0.9;
color: #fff;
animation: breezeAnimation 60s infinite linear;
}
@keyframes breezeAnimation {
0% {
    background-position: 0 0;
}
100% {
    background-position: 100% 100%;
}
}
header {
    position: relative;
    background-color: rgba(144, 158, 134, 0.582);
    color: #222;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 33px;
    text-align: center;
    border-bottom: 2px solid rgba(110, 92, 77, 0.521);
    border-radius: 0 0 20px 20px;
    animation: fadeInDown 1s ease;
}   
header h1 {
    margin: 0;
    font-size: 32px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
p {
    font-size: 23px;
    line-height: 1.6;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #222;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 80px;
    background-color: rgba(144, 158, 134, 0.582);
    padding: 40px;
    border-radius: 40px;
    color: #222;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
}
.photo-item {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.photo-item img:hover {
    transform: scale(1.05);
}
.photo-gallery-hs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
}
.photo-item-hs {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.photo-item-hs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.photo-item-hs img:hover {
    transform: scale(1.05);
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
.slideshow-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide-fade {
    animation: fade 10s infinite;
}
@keyframes fade {
    0%, 100% {
    opacity: 0;
    }
    10%, 90% {
    opacity: 1;
    }
}
footer {
    background-color: rgba(144, 158, 134, 0.582);
    color: #333;
    text-align: center;
    padding: 10px;
    clear: both;
    border-top: 2px solid rgba(110, 92, 77, 0.521);
    border-radius: 20px 20px 0 0;
}
footer p {
    margin: 0;
    color: #222;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.modal-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@keyframes rotateTitle {
    0%, 100% {
    transform: rotate(-3deg);
    }
    50% {
    transform: rotate(3deg);
    }
}
@media screen and (max-width: 768px) {
    body {
    background-size: cover;
    opacity: 1;
    }
    section {
        margin-bottom: 80px;
        background-color: rgba(144, 158, 134, 0.582);
        padding: 40px;
        border-radius: 40px;
        color: #222;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  
    }
    .photo-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;   
        padding: 0%; 
    }
    .photo-item {
    max-width: 100%;
    }
    .photo-gallery-hs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;   
        padding: 0%; 
    }
    .photo-item-hs {
    max-width: 100%;
    }
}
.birds,
.leaves {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    font-size: 24px;
    z-index: -1;
}
.bird,
.leaf {
    position: absolute;
    font-size: 24px;
    animation-timing-function: ease-in-out;
}
@keyframes flyBirds {
    0% {
        transform: translateY(-50%) translateX(100%);
    }
    100% {
        transform: translateY(-50%) translateX(-100%);
    }
}
@keyframes fallLeaves {
    0% {
        transform: translateY(-20px) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}
.language-selection {
    position: absolute;
    top: 15px;
    right: 40px;
    transform: translateY(-50%);
    }
    .language-selection button,
    .section-links a {
    background-color: rgba(144, 158, 134, 0.582);
    color: #222;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none; 
    }
    .language-selection button:hover,
    .section-links a:hover {
    background-color: rgba(110, 92, 77, 0.521);
    color: #fff;
    text-decoration: none; 
    }
    .language-options {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    }
    .language-options button {
    background-color: rgba(144, 158, 134, 0.582);
    color: #222;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 20px;
    margin-top: 5px;
    display: block;
    width: 60px;
    text-align: center;
    }
    .language-options button:hover {
    background-color: rgba(110, 92, 77, 0.521);
    color: #fff;
}
    a.hotelslink {
    background-color: rgba(144, 158, 134, 0.582);
    color: #222;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.transparent-button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}
    a.hotelslink:hover {
    background-color: rgba(110, 92, 77, 0.521);
    color: #fff;
    text-decoration: none;
}
#hotels {
    text-align: center;
} 
.photo-item {
    display: block;
    position: relative;
    margin-right: 20px;
}
.hotel-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(144, 158, 134, 0.39);
    color: rgba(27, 23, 20, 0.671);
    text-align: center;
    padding: 4px;
    margin: 0;
}
.contact-social-icons img {
    width: 30px;
    height: 30px;
    margin: 15px; 
    text-decoration: none;
    overflow: hidden;
}
.contact-social-icons a {
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}
.photo-item.active {
    transform: scale(1.2);
}
.modal-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(110, 92, 77, 0.521);
    color: rgba(0, 0, 0, 0.6);        
    border: none;
    font-size: 40px;
    cursor: pointer;
}
.modal-button:hover {
    color: #fff;
    background-color: rgba(144, 158, 134, 0.558);
}
.prev-button {
    left: 10px;
}
.next-button {
    right: 10px;
}

.close {
    display: none;
}

.modal-buttons-hs {
    display: none;
}
