<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/static/deer.png" />
  <title>Джермук</title>
  <link rel="stylesheet" class="text/css" href="/static/hotels.css"/>
</head>
<body>
  <div class="flying-lights"></div>
  <div class="birds"></div>    
  <header>
    <a href="/ru" class="no-underline">
      <h1 id="headerTitle">Jermuk City</h1>
    </a>
    <div class="language-selection">
        <button onmouseover="showLanguageOptions()" onmouseout="hideLanguageOptions()">Язык</button>
        <div class="language-options" onmouseover="showLanguageOptions()" onmouseout="hideLanguageOptions()">
          <button onclick="changeLanguage('ARM')">Հայ</button>
          <button onclick="changeLanguage('RUS')">Рус</button>
          <button onclick="changeLanguage('ENG')">Eng</button>
        </div>
    </div>          
    <nav>
  </header>
  <main>
    <section id="hotelss">
      <h2>Armenia Hotel and SPA</h2>
      <p>
        Спа-отель «Армения» с садом, террасой, рестораном и баром находится в Джермуке. Этот 5-звездочный отель предлагает доставку еды и напитков в номер, круглосуточную стойку регистрации и бесплатный Wi-Fi. В отеле есть крытый бассейн, сауна, вечерняя развлекательная программа и общий лаундж.        
      </p>
      <p>
        Во всех номерах есть телевизор с плоским экраном и спутниковыми каналами, холодильник, чайник, душ, бесплатные туалетно-косметические принадлежности и письменный стол. В номерах есть собственная ванная комната с феном, а в некоторых номерах есть балкон, а из других открывается вид на город. В номерах есть сейф.
        Каждое утро в отеле сервируется континентальный завтрак.
      </p>
      <p>
        В спа-отеле «Армения» к вашим услугам 5-звездочные номера со спа-центром и детской площадкой. В этом 5-звездочном отеле можно поиграть в бильярд, настольный теннис и дартс, а в окрестностях популярны лыжный спорт и велосипедные прогулки.        
      </p>
      <p>
        Расстояние до международного аэропорта Звартноц составляет 170 км. За дополнительную плату организуется трансфер от/до аэропорта.
      </p>
      <div class="photo-gallery-hotels">
        <div class="photo-item-hotels" onclick="openModal('/static/hotels/armenia/arm24.jpg')">
          <img src="/static/hotels/armenia/arm24.jpg" alt="Photo 1">
        </div>
        <div class="photo-item-hotels" onclick="openModal('/static/hotels/armenia/arm20.jpg')">
          <img src="/static/hotels/armenia/arm20.jpg" alt="Photo 2">
        </div>
        <div class="photo-item-hotels" onclick="openModal('/static/hotels/armenia/arm21.jpg')">
          <img src="/static/hotels/armenia/arm21.jpg" alt="Photo 3">
        </div>
        <div class="photo-item-hotels" onclick="openModal('/static/hotels/armenia/arm6.jpg')">
          <img src="/static/hotels/armenia/arm6.jpg" alt="Photo 4">
        </div>
        <div class="photo-item-hotels" onclick="openModal('/static/hotels/armenia/arm7.jpg')">
          <img src="/static/hotels/armenia/arm7.jpg" alt="Photo 5">
        </div> 
        <div class="photo-item-hotels" onclick="openModal('/static/hotels/armenia/arm10.jpg')">
          <img src="/static/hotels/armenia/arm10.jpg" alt="Photo 6">
        </div>                     
        <!-- <div class="photo-item-hotels-more" onclick="openModal('/static/hotels/armenia/arm9.jpg')">
          <img src="/static/hotels/armenia/arm9.jpg" alt="Photo 6" >
          <div class="image-text">Больше фотографий</div>
        </div>         -->
      </div>
    </section>
    <section id="contact">
      <h2>Связаться с нами</h2>
      <p>
        Для получения дополнительной информации о городе Джермук свяжитесь с нами:
        <br>
        <!-- Email: info@jermukcity.com -->
        <br>
        Телефон: +374 94-77-11-39
        <br>
        <br>
        Социальные медиа:
      </p>
      <div class="contact-social-icons">
        <a href="https://api.whatsapp.com/send?phone=37494771139" target="_blank">
          <img src="/static/whatsapp.png" alt="WhatsApp">
        </a>
        <a href="https://www.facebook.com/varo.zaqaryan.3?mibextid=ZbWKwL" target="_blank">
          <img src="/static/facebook.png" alt="Facebook">
        </a>
        <a href="https://t.me/+37494771139" target="_blank">
          <img src="/static/telegram.png" alt="Telegram">
        </a>
        <a href="viber://chat?number=+37494771139" target="_blank">
          <img src="/static/viber.png" alt="Viber">
        </a>
        <a href="https://instagram.com/_varo_tour_?igshid=MzRlODBiNWFlZA==" target="_blank">
          <img src="/static/instagram.png" alt="Instagram">
        </a>
      </div>      
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Jermuk City. Все права защищены.</p>
  </footer>
  <div id="modal" class="modal">
    <span class="close">&times;</span>
    <div class="modal-content">
      <img id="modalImage" src="" alt="Modal Image">
      <button id="prevButton" class="modal-button prev-button" onclick="changeModalImage(-1)">&#8249;</button>
      <button id="nextButton" class="modal-button next-button" onclick="changeModalImage(1)">&#8250;</button>    
    </div>
  </div>  
  <div class="flying-lights"></div>
  <div class="birds"></div>
  <div class="leaves"></div>
  <script src="/static/hotels.js"></script>
</body>
</html>
