<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/static/deer.png?v=3" />
  <title>Джермук</title>
  <link rel="stylesheet" class="text/css" href="/static/styles.css?v=3"/>
</head>
<body>
  <div class="flying-lights"></div>
  <div class="birds"></div>    
  <header>
    <a href="/ru" class="no-underline">
      <h1 id="headerTitle">Jermuk City</h1>
    </a>
    <div class="language-selection">
        <button onmouseover="showLanguageOptions()" onmouseout="hideLanguageOptions()">Язык</button>
        <div class="language-options" onmouseover="showLanguageOptions()" onmouseout="hideLanguageOptions()">
          <button onclick="changeLanguage('ARM')">Հայ</button>
          <button onclick="changeLanguage('RUS')">Рус</button>
          <button onclick="changeLanguage('ENG')">Eng</button>
        </div>
    </div>          
    <nav>
    <nav>
      <ul>
        <li class="section-links"><a href="#about">О городе</a></li>
        <li class="section-links"><a href="#photos">Фотографии</a></li>
        <li class="section-links"><a href="#contact">Контакты</a></li>
        <li class="section-links"><a href="#hotels">Отели</a></li>
      </ul>
    </nav>
    </nav> 
  </header>
  <main>
    <section id="welcome">
       <h2>Добро пожаловать в Джермук - жемчужину Армении!</h2>
       <p> 
        Откройте для себя город природных чудес, истории и теплого гостеприимства. Окунитесь в богатые минералами горячие источники, осмотрите древние церкви и станьте свидетелем величественного водопада Джермук. Искателей приключений ждут пешеходные тропы и захватывающие дух виды. Попробуйте настоящую армянскую кухню и ощутите очарование Джермука. Добро пожаловать в наш заветный город! 🌟🇦🇲   
     </p>
    </section>
    <section id="photos">
      <h2>Фотографии Джермука</h2>
      <div class="photo-gallery">
        <div class="photo-item" onclick="openModal('/static/one.jpg?v=3')">
          <img src="/static/one.jpg?v=3" alt="Photo 1">
        </div>
        <div class="photo-item" onclick="openModal('/static/two.jpg?v=3')">
          <img src="/static/two.jpg?v=3" alt="Photo 2">
        </div>
        <div class="photo-item" onclick="openModal('/static/three.jpg?v=3')">
          <img src="/static/three.jpg?v=3" alt="Photo 3">
        </div>
        <div class="photo-item" onclick="openModal('/static/four.jpg?v=3')">
          <img src="/static/four.jpg?v=3" alt="Photo 4">
        </div>
        <div class="photo-item" onclick="openModal('/static/five.jpg?v=3')">
          <img src="/static/five.jpg?v=3" alt="Photo 5">
        </div>
        <div class="photo-item" onclick="openModal('/static/six.jpg?v=3')">
          <img src="/static/six.jpg?v=3" alt="Photo 6">
        </div>
      </div>
    </section>
    <section id="about">
        <h2>О городе Джермук</h2>
        <p>
           Джермук – один из самых известных курортных городов Армении. Он расположен в северо-восточной части Вайоцдзорской области, на высоте около 2050 метров над уровнем моря, в верховьях реки Арпа. Протекая через город, последний делит его на две части. Курорт окружен живописными горными массивами, покрытыми густыми лесами и альпийскими лугами.
           Международный аэропорт Звартноц находится в 180 км.
      </p>
        <h2>Климат</h2>
        <p>
           Лето здесь не такое жаркое, а зима безветренная и снежная. Температура воздуха не превышает +32С, а зимой достигает -35С.      
        </p>
        <h2>Минеральные воды</h2>
        <p>
           Джермук богат уникальными источниками пресной и минеральной воды. Среди них заслуживают внимания теплые минеральные источники, которые по своим физико-химическим характеристикам не уступают аналогичным источникам в Карловых Варах и Железноводске. Вода этого подземного гейзера используется как для питья, так и для ванн. Это полезно для лечения различных заболеваний, в том числе желудочно-кишечных, почечных и неврологических расстройств.     
         </p>
         <h2>Легенда об олене</h2>
         <p>  
            Вы можете увидеть статую оленя на соседней вершине горы, а также оленя, изображенного на этикетке бутылок с минеральной водой «Джермук». Легенда гласит, что много лет назад, когда окрестные леса были полны зверей, охотник ранил оленя стрелой. Олени убежали и пришли к минеральным водам Джермука. Совершенно измученный, олень прыгнул в воду и вскоре вышел из нее полностью излеченным. Молва о чудесном исцелении быстро распространилась, и символом Джермука стал олень.      
        </p>  
      </section>
      <section id="hotels">
        <h2>Hotels in Jermuk</h2>
        <p>
          Наслаждайтесь комфортным отдыхом в одном из лучших отелей Джермука. Наслаждайтесь захватывающими дух видами, современными удобствами и исключительным гостеприимством.
        </p>
        <div class="photo-gallery">
          <div class="photo-item">
            <img src="/static/jermuk-hotel-spa.jpeg?v=3" alt="Hotel 1">
            <p class="hotel-name">Jermuk Hotel Spa</p>
          </div>
          <div class="photo-item">
            <img src="/static/resort.jpg?v=3" alt="Hotel 2">
            <p class="hotel-name">Resort Hotel</p>
          </div>
          <div class="photo-item">
            <img src="/static/armenia.jpg?v=3" alt="Hotel 3">
            <p class="hotel-name">Armenia Hotel and SPA</p>
          </div>
        </div>
        <div class="hotels-button">
          <a class="hotelslink" href="/hotels/ru">Посмотреть отели в Джермуке</a>
        </div>
      </section>        
    <section id="contact">
      <h2>Связаться с нами</h2>
      <p>
        Для получения дополнительной информации о городе Джермук свяжитесь с нами:
        <br>
        <!-- Электронная почта: info@jermukcity.com -->
        <br>
        Телефон: +374 94-77-11-39
        <br>
        <br>
        Социальная платформа:
      </p>
      <div class="contact-social-icons">
        <a href="https://api.whatsapp.com/send?phone=37494771139" target="_blank">
          <img src="/static/whatsapp.png?v=3" alt="WhatsApp">
        </a>
        <a href="https://www.facebook.com/varo.zaqaryan.3?mibextid=ZbWKwL" target="_blank">
          <img src="/static/facebook.png?v=3" alt="Facebook">
        </a>
        <a href="https://t.me/+37494771139" target="_blank">
          <img src="/static/telegram.png?v=3" alt="Telegram">
        </a>
        <a href="viber://chat?number=+37494771139" target="_blank">
          <img src="/static/viber.png?v=3" alt="Viber">
        </a>
        <a href="https://instagram.com/_varo_tour_?igshid=MzRlODBiNWFlZA==" target="_blank">
          <img src="/static/instagram.png?v=3" alt="Instagram">
        </a>
      </div>         
      </p>           
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Jermuk City. Все права защищены.</p>
  </footer>
  <div class="modal" id="modal">
    <div class="modal-content">
      <img id="modalImage" src="" alt="Full-Screen Photo">
    </div>
  </div>
  <div class="flying-lights"></div>
  <div class="birds"></div>
  <div class="leaves"></div>
  <script src="/static/main.js?v=3"></script>  
</body>
</html>
